@font-face {
    font-family: 'pixel';
    src: url('./assets/fonts/pixel-ultima-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
}
#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: black;
}
