@font-face {
    font-family: 'pixel';
    src: url('./assets/fonts/pixel-ultima-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
  height: 100%;
  width: 100%;

}
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;  
  background-color: black;
}
#app {
  height: 100%;
  width: 100%;
  max-width: 950px;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: black;
}
